***App Testing run and generation of file with App Output***

**Loading packages, libraries and secrets into notebook**

In [1]:
# Importing the required libraries
import os
from dotenv import load_dotenv
from datasets import load_dataset
import pandas as pd

In [2]:
# Accessing the secrets from the environment variables
load_dotenv()
MONGO_URI_SQL = os.getenv("MONGO_URI_SQL")
MONGO_URI_schema = os.getenv("MONGO_URI_Schema")
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
HF_Token = os.getenv("HF_TOKEN")

**Testing App 1b**

In [3]:
%run ../../A_Apps/1b_Openai_RAG_Schema.ipynb

WARNING:tensorflow:From c:\Users\samir\Documents\GitHub\MT_RAG_LLM\mtgitenv\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Retrieved Documents:
page_content='SELECT city FROM business WHERE name  =  "Taj Mahal";' metadata={'_id': '66cf12c13c2173e47d7b0793', 'Question': 'Find all cities which has a " Taj Mahal " .'}
page_content='SELECT homepage FROM organization WHERE name  =  "University of Michigan";' metadata={'_id': '66cf12c13c2173e47d7b0806', 'Question': 'return me the homepage of " University of Michigan " .'}
page_content='SELECT state FROM business WHERE name  =  "Whataburger";' metadata={'_id': '66cf12c13c2173e47d7b0790', 'Question': 'Find all states in which there is a Whataburger'}
page_content='SELECT name FROM business WHERE rating  >  4.5;' metadata={'_id': '66cf12c13c2173e47d7b078d', 'Question': 'List all the businesses with more than 4.5 stars'}
Retrieved Schema:
page_content='cre_Doc_Template_Mgt DOCUMENTS DOCUMENT_DESCRIPTION' metadata={'_id': '66f699c316868673a7a59ee7', 'Column_name': 'DOCUMENT_DESCRIPTION', 'Table_name': 'DOCUMENTS', 'DB_name': 'cre_Doc_Template_Mgt'}
page_content='cre_Doc_Template_Mgt DOCUMENTS OTHER_DETAILS' metadata={'_id': '66f699c316868673a7a59ee8', 'Column_name': 'OTHER_DETAILS', 'Table_name': 'DOCUMENTS', 'DB_name': 'cre_Doc_Template_Mgt'}
page_content='cre_Doc_Template_Mgt PARAGRAPHS OTHER_DETAILS' metadata={'_id': '66f699c316868673a7a59eec', 'Column_name': 'OTHER_DETAILS', 'Table_name': 'PARAGRAPHS', 'DB_name': 'cre_Doc_Template_Mgt'}
page_content='real_estate_properties PROPERTIES  HSE_FEATURE_2' metadata={'_id': '66f699c316868673a7a59ff4', 'Column_name': 'HSE_FEATURE_2', 'Table_name': 'PROPERTIES ', 'DB_name': 'real_estate_properties'}
page_content='real_estate_properties PROPERTIES  HSE_FEATURE_3' metadata={'_id': '66f699c316868673a7a59ff5', 'Column_name': 'HSE_FEATURE_3', 'Table_name': 'PROPERTIES ', 'DB_name': 'real_estate_properties'}

In [4]:
# Upload the dataset and transform to dataframe
# Define the dataset path
dataset_path = "../8_Testing_Input_and_Output/Spider_Testing_Selection.csv"
print("Dataset Path:", dataset_path)

# Check if the file exists at the specified path
if not os.path.isfile(dataset_path):
    raise FileNotFoundError(f"Unable to find the file at {dataset_path}")

# Load the dataset
testing_1b = load_dataset('csv', data_files=dataset_path)

# Convert the dataset to a pandas dataframe
df_1b_testing = testing_1b["train"].to_pandas()

# Print a few rows to verify
print(df_1b_testing.head())

Dataset Path: ../8_Testing_Input_and_Output/Spider_Testing_Selection.csv
            DB_ID                                              Query  \
0  concert_singer  SELECT T2.name ,  T2.capacity FROM concert AS ...
1          pets_1  SELECT T1.fname ,  T1.age FROM student AS T1 J...
2           car_1  SELECT T1.CountryName FROM COUNTRIES AS T1 JOI...
3           car_1  SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS ...
4           car_1  select t1.id ,  t1.maker from car_makers as t1...

                                            Question
0  Show the stadium name and capacity with most n...
1  Find the first name and age of students who ha...
2  Which countries in europe have at least 3 car ...
3  Among the cars with more than lowest horsepowe...
4  Which are the car makers which produce at leas...

In [5]:
# Function to run the chain for each query
def process_queries(df_1b_testing):
    # Create an empty list to store the results
    output = []

    for i, row in df_1b_testing.iterrows():
        # Get the query from the dataframe
        query = row["Query"]

        # Execute the chain with the current query
        try:
            result = chain_1b.invoke(query)
        except Exception as e:
            result = f"Error processing query {i}: {str(e)}"
        
        # Append the result to the list
        output.append(result)

    # Add the results to a new column in the dataframe
    df_1b_testing["Output"] = output
    
# Check and split the Output column into two: Translation and Explanation
    def split_output(text):
        if 'Explanation' in text:
            parts = text.split('Explanation', 1)
            return parts[0].strip(), parts[1].strip()
        else:
            return text, None  # If no "Explanation", return the text as translation, and None for explanation

    # Apply the splitting function to the Output column
    df_1b_testing[['Translation', 'Explanation']] = df_1b_testing["Output"].apply(lambda x: pd.Series(split_output(x)))
    
    return df_1b_testing

# Call the function and process the dataframe
df_1b_testing_output = process_queries(df_1b_testing)

# Now 'df_with_results' contains the original queries and their corresponding results
print(df_1b_testing_output)
df_1b_testing_output.to_csv("../8_Testing_Input_and_Output/App_Output_1b.csv", index=False)

Retrieved Schema:
page_content='concert_singer CONCERT  STADIUM_ID' metadata={'_id': '66f699c316868673a7a59fa9', 'Column_name': 'STADIUM_ID', 'Table_name': 'CONCERT ', 'DB_name': 'concert_singer'}
page_content='concert_singer STADIUM  STADIUM_ID' metadata={'_id': '66f699c316868673a7a59f96', 'Column_name': 'STADIUM_ID', 'Table_name': 'STADIUM ', 'DB_name': 'concert_singer'}
page_content='concert_singer SINGER  SINGER_ID' metadata={'_id': '66f699c316868673a7a59f9e', 'Column_name': 'SINGER_ID', 'Table_name': 'SINGER ', 'DB_name': 'concert_singer'}
page_content='concert_singer SINGER_IN_CONCERT  SINGER_ID' metadata={'_id': '66f699c316868673a7a59fae', 'Column_name': 'SINGER_ID', 'Table_name': 'SINGER_IN_CONCERT ', 'DB_name': 'concert_singer'}
page_content='concert_singer CONCERT  CONCERT_ID' metadata={'_id': '66f699c316868673a7a59fa6', 'Column_name': 'CONCERT_ID', 'Table_name': 'CONCERT ', 'DB_name': 'concert_singer'}
Retrieved Documents:
page_content='SELECT t1.name FROM stadium AS t1 JOIN event AS t2 ON t1.id  =  t2.stadium_id GROUP BY t2.stadium_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afdbc', 'Question': 'What is the name of the stadium which held the most events?'}
page_content='SELECT t3.name FROM record AS t1 JOIN event AS t2 ON t1.event_id  =  t2.id JOIN stadium AS t3 ON t3.id  =  t2.stadium_id GROUP BY t2.stadium_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afdc5', 'Question': 'Find the names of stadiums that the most swimmers have been to.'}
page_content='SELECT t2.firstname FROM Performance AS t1 JOIN Band AS t2 ON t1.bandmate  =  t2.id JOIN Songs AS T3 ON T3.SongId  =  T1.SongId GROUP BY firstname ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afc52', 'Question': 'Find the first name of the band mate that has performed in most songs.'}
page_content='SELECT t2.firstname FROM Performance AS t1 JOIN Band AS t2 ON t1.bandmate  =  t2.id JOIN Songs AS T3 ON T3.SongId  =  T1.SongId GROUP BY firstname ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afc53', 'Question': 'What is the first name of the band mate who perfomed in the most songs?'}
Retrieved Schema:
page_content='pets_1 HAS_PET  STUID' metadata={'_id': '66f699c316868673a7a59f23', 'Column_name': 'STUID', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
page_content='pets_1 HAS_PET  FOREIGN' metadata={'_id': '66f699c316868673a7a59f25', 'Column_name': 'FOREIGN', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
page_content='pets_1 HAS_PET  FOREIGN' metadata={'_id': '66f699c316868673a7a59f26', 'Column_name': 'FOREIGN', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
page_content='pets_1 HAS_PET  PETID' metadata={'_id': '66f699c316868673a7a59f24', 'Column_name': 'PETID', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
page_content='pets_1 PETS  PET_AGE' metadata={'_id': '66f699c316868673a7a59f29', 'Column_name': 'PET_AGE', 'Table_name': 'PETS ', 'DB_name': 'pets_1'}
Retrieved Documents:
page_content='SELECT T1.fname ,  T1.age FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid  =  T2.stuid WHERE T2.dormid NOT IN (SELECT T3.dormid FROM has_amenity AS T3 JOIN dorm_amenity AS T4 ON T3.amenid  =  T4.amenid WHERE T4.amenity_name  =  'TV Lounge')' metadata={'_id': '66cf12c13c2173e47d7afe4c', 'Question': 'Find the first name and age of students who are living in the dorms that do not have amenity TV Lounge.'}
page_content='SELECT T1.fname ,  T1.age FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid  =  T2.stuid WHERE T2.dormid NOT IN (SELECT T3.dormid FROM has_amenity AS T3 JOIN dorm_amenity AS T4 ON T3.amenid  =  T4.amenid WHERE T4.amenity_name  =  'TV Lounge')' metadata={'_id': '66cf12c13c2173e47d7afe4d', 'Question': 'What is the first name and age of every student who lives in a dorm with a TV Lounge?'}
page_content='SELECT fname ,  lname FROM Student WHERE StuID NOT IN (SELECT T1.StuID FROM Has_allergy AS T1 JOIN Allergy_Type AS T2 ON T1.Allergy  =  T2.Allergy WHERE T2.allergytype  =  "food")' metadata={'_id': '66cf12c13c2173e47d7ae9d7', 'Question': 'List the first and last name of the students who do not have any food type allergy.'}
page_content='SELECT fname ,  lname FROM Student WHERE StuID NOT IN (SELECT T1.StuID FROM Has_allergy AS T1 JOIN Allergy_Type AS T2 ON T1.Allergy  =  T2.Allergy WHERE T2.allergytype  =  "food")' metadata={'_id': '66cf12c13c2173e47d7ae9d8', 'Question': 'What is the full name of each student who is not allergic to any type of food.'}
Retrieved Schema:
page_content='car_1 COUNTRIES COUNTRYID' metadata={'_id': '66f699c316868673a7a59ebf', 'Column_name': 'COUNTRYID', 'Table_name': 'COUNTRIES', 'DB_name': 'car_1'}
page_content='car_1 COUNTRIES COUNTRYNAME' metadata={'_id': '66f699c316868673a7a59ec0', 'Column_name': 'COUNTRYNAME', 'Table_name': 'COUNTRIES', 'DB_name': 'car_1'}
page_content='car_1 CAR_MAKERS ID' metadata={'_id': '66f699c316868673a7a59ec2', 'Column_name': 'ID', 'Table_name': 'CAR_MAKERS', 'DB_name': 'car_1'}
page_content='pets_1 HAS_PET  FOREIGN' metadata={'_id': '66f699c316868673a7a59f25', 'Column_name': 'FOREIGN', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
page_content='pets_1 HAS_PET  FOREIGN' metadata={'_id': '66f699c316868673a7a59f26', 'Column_name': 'FOREIGN', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
Retrieved Documents:
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af346', 'Question': 'Which countries have at least 3 cities?'}
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af347', 'Question': 'What are the countries that contain 3 or more cities?'}
page_content='SELECT T1.Name FROM country AS T1 JOIN roller_coaster AS T2 ON T1.Country_ID  =  T2.Country_ID GROUP BY T1.Name HAVING COUNT(*)  >  1' metadata={'_id': '66cf12c13c2173e47d7b000f', 'Question': 'Show the names of countries that have more than one roller coaster.'}
page_content='SELECT T2.name FROM Office_locations AS T1 JOIN buildings AS T2 ON T1.building_id  =  T2.id JOIN Companies AS T3 ON T1.company_id  =  T3.id GROUP BY T1.building_id HAVING COUNT(*)  >  1' metadata={'_id': '66cf12c13c2173e47d7af99b', 'Question': 'Show the names of the buildings that have more than one company offices.'}
Retrieved Schema:
page_content='car_1 CARS_DATA ID' metadata={'_id': '66f699c316868673a7a59ec9', 'Column_name': 'ID', 'Table_name': 'CARS_DATA', 'DB_name': 'car_1'}
page_content='car_1 CARS_DATA HORSEPOWER' metadata={'_id': '66f699c316868673a7a59ecd', 'Column_name': 'HORSEPOWER', 'Table_name': 'CARS_DATA', 'DB_name': 'car_1'}
page_content='car_1 CAR_NAMES MAKEID' metadata={'_id': '66f699c316868673a7a59ec6', 'Column_name': 'MAKEID', 'Table_name': 'CAR_NAMES', 'DB_name': 'car_1'}
page_content='car_1 CAR_MAKERS ID' metadata={'_id': '66f699c316868673a7a59ec2', 'Column_name': 'ID', 'Table_name': 'CAR_MAKERS', 'DB_name': 'car_1'}
page_content='car_1 CARS_DATA CYLINDERS' metadata={'_id': '66f699c316868673a7a59ecb', 'Column_name': 'CYLINDERS', 'Table_name': 'CARS_DATA', 'DB_name': 'car_1'}
Retrieved Documents:
page_content='SELECT T2.name ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT min(hours) FROM projects)' metadata={'_id': '66cf12c13c2173e47d7b013b', 'Question': 'Find name of the project that needs the least amount of time to finish and the name of scientists who worked on it.'}
page_content='SELECT T2.name ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT min(hours) FROM projects)' metadata={'_id': '66cf12c13c2173e47d7b013c', 'Question': 'What is the name of the project that requires the fewest number of hours, and the names of the scientists assigned to it?'}
page_content='SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_piad  =  (SELECT min(amount_piad) FROM claim_headers)' metadata={'_id': '66cf12c13c2173e47d7aedb9', 'Question': 'What is the name of the customer who has made the minimum amount of payment in one claim?'}
page_content='SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_piad  =  (SELECT min(amount_piad) FROM claim_headers)' metadata={'_id': '66cf12c13c2173e47d7aedba', 'Question': 'Which customer made the smallest amount of claim in one claim? Return the customer details.'}
Retrieved Schema:
page_content='car_1 CAR_MAKERS ID' metadata={'_id': '66f699c316868673a7a59ec2', 'Column_name': 'ID', 'Table_name': 'CAR_MAKERS', 'DB_name': 'car_1'}
page_content='car_1 CAR_NAMES MAKEID' metadata={'_id': '66f699c316868673a7a59ec6', 'Column_name': 'MAKEID', 'Table_name': 'CAR_NAMES', 'DB_name': 'car_1'}
page_content='car_1 CARS_DATA ID' metadata={'_id': '66f699c316868673a7a59ec9', 'Column_name': 'ID', 'Table_name': 'CARS_DATA', 'DB_name': 'car_1'}
page_content='car_1 CAR_NAMES MAKE' metadata={'_id': '66f699c316868673a7a59ec8', 'Column_name': 'MAKE', 'Table_name': 'CAR_NAMES', 'DB_name': 'car_1'}
page_content='pets_1 HAS_PET  STUID' metadata={'_id': '66f699c316868673a7a59f23', 'Column_name': 'STUID', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
Retrieved Documents:
page_content='SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Asset_Parts AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  =  2 INTERSECT SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Fault_Log AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  <  2' metadata={'_id': '66cf12c13c2173e47d7af3fe', 'Question': 'Which assets have 2 parts and have less than 2 fault logs? List the asset id and detail.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af268', 'Question': 'Show storm name with at least two regions and 10 cities affected.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af269', 'Question': 'What are the names of storms that both affected two or more regions and affected a total of 10 or more cities?'}
page_content='SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  =  11 INTERSECT SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN results AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  5' metadata={'_id': '66cf12c13c2173e47d7af069', 'Question': "What are the drivers' last names and id who had 11 pit stops and participated in more than 5 race results?"}
Retrieved Schema:
page_content='car_1 CAR_MAKERS ID' metadata={'_id': '66f699c316868673a7a59ec2', 'Column_name': 'ID', 'Table_name': 'CAR_MAKERS', 'DB_name': 'car_1'}
page_content='car_1 CAR_NAMES MAKEID' metadata={'_id': '66f699c316868673a7a59ec6', 'Column_name': 'MAKEID', 'Table_name': 'CAR_NAMES', 'DB_name': 'car_1'}
page_content='car_1 CARS_DATA ID' metadata={'_id': '66f699c316868673a7a59ec9', 'Column_name': 'ID', 'Table_name': 'CARS_DATA', 'DB_name': 'car_1'}
page_content='car_1 CAR_NAMES MAKE' metadata={'_id': '66f699c316868673a7a59ec8', 'Column_name': 'MAKE', 'Table_name': 'CAR_NAMES', 'DB_name': 'car_1'}
page_content='pets_1 HAS_PET  STUID' metadata={'_id': '66f699c316868673a7a59f23', 'Column_name': 'STUID', 'Table_name': 'HAS_PET ', 'DB_name': 'pets_1'}
Retrieved Documents:
page_content='SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Asset_Parts AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  =  2 INTERSECT SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Fault_Log AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  <  2' metadata={'_id': '66cf12c13c2173e47d7af3fe', 'Question': 'Which assets have 2 parts and have less than 2 fault logs? List the asset id and detail.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af268', 'Question': 'Show storm name with at least two regions and 10 cities affected.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af269', 'Question': 'What are the names of storms that both affected two or more regions and affected a total of 10 or more cities?'}
page_content='SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  =  11 INTERSECT SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN results AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  5' metadata={'_id': '66cf12c13c2173e47d7af069', 'Question': "What are the drivers' last names and id who had 11 pit stops and participated in more than 5 race results?"}
Retrieved Documents:
page_content='SELECT T1.company_id ,  T1.company_name FROM Third_Party_Companies AS T1 JOIN Maintenance_Engineers AS T2 ON T1.company_id  =  T2.company_id GROUP BY T1.company_id HAVING count(*)  >=  2 UNION SELECT T3.company_id ,  T3.company_name FROM Third_Party_Companies AS T3 JOIN Maintenance_Contracts AS T4 ON T3.company_id  =  T4.maintenance_contract_company_id GROUP BY T3.company_id HAVING count(*)  >=  2' metadata={'_id': '66cf12c13c2173e47d7af401', 'Question': 'Which third party companies have at least 2 maintenance engineers or have at least 2 maintenance contracts? List the company id and name.'}
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af346', 'Question': 'Which countries have at least 3 cities?'}
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af347', 'Question': 'What are the countries that contain 3 or more cities?'}
page_content='SELECT T1.task_details ,  T1.task_id ,  T2.project_id FROM Tasks AS T1 JOIN Projects AS T2 ON T1.project_id  =  T2.project_id WHERE T2.project_details  =  'omnis' UNION SELECT T1.task_details ,  T1.task_id ,  T2.project_id FROM Tasks AS T1 JOIN Projects AS T2 ON T1.project_id  =  T2.project_id JOIN Project_outcomes AS T3 ON T2.project_id  =  T3.project_id GROUP BY T2.project_id HAVING count(*)  >  2' metadata={'_id': '66cf12c13c2173e47d7af8bc', 'Question': "What are the task details, task id and project id for the projects which are detailed as 'omnis' or  have more than 2 outcomes?"}
Retrieved Schema:
page_content='car_1 CAR_MAKERS ID' metadata={'_id': '66f699c316868673a7a59ec2', 'Column_name': 'ID', 'Table_name': 'CAR_MAKERS', 'DB_name': 'car_1'}
page_content='car_1 COUNTRIES COUNTRYID' metadata={'_id': '66f699c316868673a7a59ebf', 'Column_name': 'COUNTRYID', 'Table_name': 'COUNTRIES', 'DB_name': 'car_1'}
page_content='car_1 COUNTRIES COUNTRYNAME' metadata={'_id': '66f699c316868673a7a59ec0', 'Column_name': 'COUNTRYNAME', 'Table_name': 'COUNTRIES', 'DB_name': 'car_1'}
page_content='car_1 CAR_NAMES MAKEID' metadata={'_id': '66f699c316868673a7a59ec6', 'Column_name': 'MAKEID', 'Table_name': 'CAR_NAMES', 'DB_name': 'car_1'}
page_content='car_1 CAR_MAKERS MAKER' metadata={'_id': '66f699c316868673a7a59ec3', 'Column_name': 'MAKER', 'Table_name': 'CAR_MAKERS', 'DB_name': 'car_1'}
Retrieved Schema:
page_content='flight_2 FLIGHTS  SOURCEAIRPORT' metadata={'_id': '66f699c316868673a7a59fd5', 'Column_name': 'SOURCEAIRPORT', 'Table_name': 'FLIGHTS ', 'DB_name': 'flight_2'}
page_content='flight_2 FLIGHTS  AIRLINE' metadata={'_id': '66f699c316868673a7a59fd3', 'Column_name': 'AIRLINE', 'Table_name': 'FLIGHTS ', 'DB_name': 'flight_2'}
page_content='flight_2 AIRLINES  UID' metadata={'_id': '66f699c316868673a7a59fca', 'Column_name': 'UID', 'Table_name': 'AIRLINES ', 'DB_name': 'flight_2'}
page_content='flight_2 FLIGHTS  FOREIGN' metadata={'_id': '66f699c316868673a7a59fd9', 'Column_name': 'FOREIGN', 'Table_name': 'FLIGHTS ', 'DB_name': 'flight_2'}
page_content='flight_2 FLIGHTS  FOREIGN' metadata={'_id': '66f699c316868673a7a59fd8', 'Column_name': 'FOREIGN', 'Table_name': 'FLIGHTS ', 'DB_name': 'flight_2'}
Retrieved Documents:
page_content='SELECT Customer_Name FROM Clients EXCEPT SELECT T2.Customer_Name FROM Bookings AS T1 JOIN Clients AS T2 ON T1.Customer_ID  =  T2.Client_ID' metadata={'_id': '66cf12c13c2173e47d7afbf4', 'Question': 'Show the names of all the clients with no booking.'}
page_content='SELECT Customer_Name FROM Clients EXCEPT SELECT T2.Customer_Name FROM Bookings AS T1 JOIN Clients AS T2 ON T1.Customer_ID  =  T2.Client_ID' metadata={'_id': '66cf12c13c2173e47d7afbf5', 'Question': 'What are the names of the clients who do not have any booking?'}
page_content='SELECT T1.City_Town FROM Addresses AS T1 JOIN Customers AS T2 ON T1.Address_ID  =  T2.Address_ID EXCEPT SELECT T1.City_Town FROM Addresses AS T1 JOIN Performers AS T2 ON T1.Address_ID  =  T2.Address_ID' metadata={'_id': '66cf12c13c2173e47d7afbee', 'Question': 'Show all cities where at least one customer lives in but no performer lives in.'}
page_content='SELECT T1.City_Town FROM Addresses AS T1 JOIN Customers AS T2 ON T1.Address_ID  =  T2.Address_ID EXCEPT SELECT T1.City_Town FROM Addresses AS T1 JOIN Performers AS T2 ON T1.Address_ID  =  T2.Address_ID' metadata={'_id': '66cf12c13c2173e47d7afbef', 'Question': 'Which cities have at least one customer but no performer?'}
Retrieved Documents:Retrieved Schema:
page_content='flight_2 AIRPORTS  AIRPORTNAME' metadata={'_id': '66f699c316868673a7a59fd0', 'Column_name': 'AIRPORTNAME', 'Table_name': 'AIRPORTS ', 'DB_name': 'flight_2'}
page_content='flight_2 AIRPORTS  AIRPORTCODE' metadata={'_id': '66f699c316868673a7a59fcf', 'Column_name': 'AIRPORTCODE', 'Table_name': 'AIRPORTS ', 'DB_name': 'flight_2'}
page_content='flight_2 FLIGHTS  SOURCEAIRPORT' metadata={'_id': '66f699c316868673a7a59fd5', 'Column_name': 'SOURCEAIRPORT', 'Table_name': 'FLIGHTS ', 'DB_name': 'flight_2'}
page_content='flight_2 AIRPORTS  CITY' metadata={'_id': '66f699c316868673a7a59fce', 'Column_name': 'CITY', 'Table_name': 'AIRPORTS ', 'DB_name': 'flight_2'}
page_content='flight_2 AIRPORTS  COUNTRYABBREV' metadata={'_id': '66f699c316868673a7a59fd2', 'Column_name': 'COUNTRYABBREV', 'Table_name': 'AIRPORTS ', 'DB_name': 'flight_2'}

page_content='SELECT count(*) FROM airport WHERE id NOT IN ( SELECT airport_id FROM flight WHERE pilot  =  'Thompson' );' metadata={'_id': '66cf12c13c2173e47d7b00b2', 'Question': "How many airports haven't the pilot 'Thompson' driven an aircraft?"}

**Testing App 2b**

In [6]:
%run ../../A_Apps/2b_Openai_RAG.ipynb

Retrieved Documents:
page_content='SELECT t2.firstname FROM Performance AS t1 JOIN Band AS t2 ON t1.bandmate  =  t2.id JOIN Songs AS T3 ON T3.SongId  =  T1.SongId GROUP BY firstname ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afc52', 'Question': 'Find the first name of the band mate that has performed in most songs.'}
page_content='SELECT t2.firstname FROM Performance AS t1 JOIN Band AS t2 ON t1.bandmate  =  t2.id JOIN Songs AS T3 ON T3.SongId  =  T1.SongId GROUP BY firstname ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afc53', 'Question': 'What is the first name of the band mate who perfomed in the most songs?'}
page_content='SELECT T2.party_name FROM Member AS T1 JOIN party AS T2 ON T1.party_id  =  T2.party_id GROUP BY T1.party_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7aefd3', 'Question': 'What is the name of party with most number of members?'}
page_content='SELECT T2.party_name FROM Member AS T1 JOIN party AS T2 ON T1.party_id  =  T2.party_id GROUP BY T1.party_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7aefd4', 'Question': 'Return the name of the party with the most members.'}

In [7]:
# Upload the dataset and transform to dataframe
# Define the dataset path
dataset_path = "../8_Testing_Input_and_Output/Spider_Testing_Selection.csv"
print("Dataset Path:", dataset_path)

# Check if the file exists at the specified path
if not os.path.isfile(dataset_path):
    raise FileNotFoundError(f"Unable to find the file at {dataset_path}")

# Load the dataset
testing_2b = load_dataset('csv', data_files=dataset_path)

# Convert the dataset to a pandas dataframe
df_2b_testing = testing_2b["train"].to_pandas()

# Print a few rows to verify
print(df_2b_testing.head())

Dataset Path: ../8_Testing_Input_and_Output/Spider_Testing_Selection.csv
            DB_ID                                              Query  \
0  concert_singer  SELECT T2.name ,  T2.capacity FROM concert AS ...
1          pets_1  SELECT T1.fname ,  T1.age FROM student AS T1 J...
2           car_1  SELECT T1.CountryName FROM COUNTRIES AS T1 JOI...
3           car_1  SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS ...
4           car_1  select t1.id ,  t1.maker from car_makers as t1...

                                            Question
0  Show the stadium name and capacity with most n...
1  Find the first name and age of students who ha...
2  Which countries in europe have at least 3 car ...
3  Among the cars with more than lowest horsepowe...
4  Which are the car makers which produce at leas...

In [8]:
# Function to run the chain for each query
def process_queries(df_2b_testing):
    # Create an empty list to store the results
    output = []

    for i, row in df_2b_testing.iterrows():
        # Get the query from the dataframe
        query = row["Query"]

        # Execute the chain with the current query
        try:
            result = chain_2b.invoke(query)
        except Exception as e:
            result = f"Error processing query {i}: {str(e)}"
        
        # Append the result to the list
        output.append(result)

    # Add the results to a new column in the dataframe
    df_2b_testing["Output"] = output
    
# Check and split the Output column into two: Translation and Explanation
    def split_output(text):
        if 'Explanation' in text:
            parts = text.split('Explanation', 1)
            return parts[0].strip(), parts[1].strip()
        else:
            return text, None  # If no "Explanation:", return the text as translation, and None for explanation

    # Apply the splitting function to the Output column
    df_2b_testing[['Translation', 'Explanation']] = df_2b_testing["Output"].apply(lambda x: pd.Series(split_output(x)))
    
    return df_2b_testing

# Call the function and process the dataframe
df_2b_testing_output = process_queries(df_2b_testing)

# Now 'df_with_results' contains the original queries and their corresponding results
print(df_2b_testing_output)
df_2b_testing_output.to_csv("../8_Testing_Input_and_Output/App_Output_2b.csv", index=False)

Retrieved Documents:
page_content='SELECT t1.name FROM stadium AS t1 JOIN event AS t2 ON t1.id  =  t2.stadium_id GROUP BY t2.stadium_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afdbc', 'Question': 'What is the name of the stadium which held the most events?'}
page_content='SELECT t3.name FROM record AS t1 JOIN event AS t2 ON t1.event_id  =  t2.id JOIN stadium AS t3 ON t3.id  =  t2.stadium_id GROUP BY t2.stadium_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afdc5', 'Question': 'Find the names of stadiums that the most swimmers have been to.'}
page_content='SELECT t2.firstname FROM Performance AS t1 JOIN Band AS t2 ON t1.bandmate  =  t2.id JOIN Songs AS T3 ON T3.SongId  =  T1.SongId GROUP BY firstname ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afc52', 'Question': 'Find the first name of the band mate that has performed in most songs.'}
page_content='SELECT t2.firstname FROM Performance AS t1 JOIN Band AS t2 ON t1.bandmate  =  t2.id JOIN Songs AS T3 ON T3.SongId  =  T1.SongId GROUP BY firstname ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afc53', 'Question': 'What is the first name of the band mate who perfomed in the most songs?'}
Retrieved Documents:
page_content='SELECT T1.fname ,  T1.age FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid  =  T2.stuid WHERE T2.dormid NOT IN (SELECT T3.dormid FROM has_amenity AS T3 JOIN dorm_amenity AS T4 ON T3.amenid  =  T4.amenid WHERE T4.amenity_name  =  'TV Lounge')' metadata={'_id': '66cf12c13c2173e47d7afe4c', 'Question': 'Find the first name and age of students who are living in the dorms that do not have amenity TV Lounge.'}
page_content='SELECT T1.fname ,  T1.age FROM student AS T1 JOIN lives_in AS T2 ON T1.stuid  =  T2.stuid WHERE T2.dormid NOT IN (SELECT T3.dormid FROM has_amenity AS T3 JOIN dorm_amenity AS T4 ON T3.amenid  =  T4.amenid WHERE T4.amenity_name  =  'TV Lounge')' metadata={'_id': '66cf12c13c2173e47d7afe4d', 'Question': 'What is the first name and age of every student who lives in a dorm with a TV Lounge?'}
page_content='SELECT fname ,  lname FROM Student WHERE StuID NOT IN (SELECT T1.StuID FROM Has_allergy AS T1 JOIN Allergy_Type AS T2 ON T1.Allergy  =  T2.Allergy WHERE T2.allergytype  =  "food")' metadata={'_id': '66cf12c13c2173e47d7ae9d7', 'Question': 'List the first and last name of the students who do not have any food type allergy.'}
page_content='SELECT fname ,  lname FROM Student WHERE StuID NOT IN (SELECT T1.StuID FROM Has_allergy AS T1 JOIN Allergy_Type AS T2 ON T1.Allergy  =  T2.Allergy WHERE T2.allergytype  =  "food")' metadata={'_id': '66cf12c13c2173e47d7ae9d8', 'Question': 'What is the full name of each student who is not allergic to any type of food.'}
Retrieved Documents:
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af346', 'Question': 'Which countries have at least 3 cities?'}
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af347', 'Question': 'What are the countries that contain 3 or more cities?'}
page_content='SELECT T1.Name FROM country AS T1 JOIN roller_coaster AS T2 ON T1.Country_ID  =  T2.Country_ID GROUP BY T1.Name HAVING COUNT(*)  >  1' metadata={'_id': '66cf12c13c2173e47d7b000f', 'Question': 'Show the names of countries that have more than one roller coaster.'}
page_content='SELECT T2.name FROM Office_locations AS T1 JOIN buildings AS T2 ON T1.building_id  =  T2.id JOIN Companies AS T3 ON T1.company_id  =  T3.id GROUP BY T1.building_id HAVING COUNT(*)  >  1' metadata={'_id': '66cf12c13c2173e47d7af99b', 'Question': 'Show the names of the buildings that have more than one company offices.'}
Retrieved Documents:
page_content='SELECT T2.name ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT min(hours) FROM projects)' metadata={'_id': '66cf12c13c2173e47d7b013b', 'Question': 'Find name of the project that needs the least amount of time to finish and the name of scientists who worked on it.'}
page_content='SELECT T2.name ,  T3.name FROM assignedto AS T1 JOIN projects AS T2 ON T1.project  =  T2.code JOIN scientists AS T3 ON T1.scientist  =  T3.SSN WHERE T2.hours  =  (SELECT min(hours) FROM projects)' metadata={'_id': '66cf12c13c2173e47d7b013c', 'Question': 'What is the name of the project that requires the fewest number of hours, and the names of the scientists assigned to it?'}
page_content='SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_piad  =  (SELECT min(amount_piad) FROM claim_headers)' metadata={'_id': '66cf12c13c2173e47d7aedb9', 'Question': 'What is the name of the customer who has made the minimum amount of payment in one claim?'}
page_content='SELECT t3.customer_details FROM claim_headers AS t1 JOIN policies AS t2 ON t1.policy_id  =  t2.policy_id JOIN customers AS t3 ON t2.customer_id  =  t3.customer_id WHERE t1.amount_piad  =  (SELECT min(amount_piad) FROM claim_headers)' metadata={'_id': '66cf12c13c2173e47d7aedba', 'Question': 'Which customer made the smallest amount of claim in one claim? Return the customer details.'}
Retrieved Documents:
page_content='SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Asset_Parts AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  =  2 INTERSECT SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Fault_Log AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  <  2' metadata={'_id': '66cf12c13c2173e47d7af3fe', 'Question': 'Which assets have 2 parts and have less than 2 fault logs? List the asset id and detail.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af268', 'Question': 'Show storm name with at least two regions and 10 cities affected.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af269', 'Question': 'What are the names of storms that both affected two or more regions and affected a total of 10 or more cities?'}
page_content='SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  =  11 INTERSECT SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN results AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  5' metadata={'_id': '66cf12c13c2173e47d7af069', 'Question': "What are the drivers' last names and id who had 11 pit stops and participated in more than 5 race results?"}
Retrieved Documents:
page_content='SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Asset_Parts AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  =  2 INTERSECT SELECT T1.asset_id ,  T1.asset_details FROM Assets AS T1 JOIN Fault_Log AS T2 ON T1.asset_id  =  T2.asset_id GROUP BY T1.asset_id HAVING count(*)  <  2' metadata={'_id': '66cf12c13c2173e47d7af3fe', 'Question': 'Which assets have 2 parts and have less than 2 fault logs? List the asset id and detail.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af268', 'Question': 'Show storm name with at least two regions and 10 cities affected.'}
page_content='SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING count(*)  >=  2 INTERSECT SELECT T1.name FROM storm AS T1 JOIN affected_region AS T2 ON T1.storm_id  =  T2.storm_id GROUP BY T1.storm_id HAVING sum(T2.number_city_affected)  >=  10' metadata={'_id': '66cf12c13c2173e47d7af269', 'Question': 'What are the names of storms that both affected two or more regions and affected a total of 10 or more cities?'}
page_content='SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN pitstops AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  =  11 INTERSECT SELECT T1.surname ,  T1.driverid FROM drivers AS T1 JOIN results AS T2 ON T1.driverid  =  T2.driverid GROUP BY T1.driverid HAVING count(*)  >  5' metadata={'_id': '66cf12c13c2173e47d7af069', 'Question': "What are the drivers' last names and id who had 11 pit stops and participated in more than 5 race results?"}
Retrieved Documents:
page_content='SELECT T1.company_id ,  T1.company_name FROM Third_Party_Companies AS T1 JOIN Maintenance_Engineers AS T2 ON T1.company_id  =  T2.company_id GROUP BY T1.company_id HAVING count(*)  >=  2 UNION SELECT T3.company_id ,  T3.company_name FROM Third_Party_Companies AS T3 JOIN Maintenance_Contracts AS T4 ON T3.company_id  =  T4.maintenance_contract_company_id GROUP BY T3.company_id HAVING count(*)  >=  2' metadata={'_id': '66cf12c13c2173e47d7af401', 'Question': 'Which third party companies have at least 2 maintenance engineers or have at least 2 maintenance contracts? List the company id and name.'}
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af346', 'Question': 'Which countries have at least 3 cities?'}
page_content='SELECT T2.country FROM city AS T1 JOIN country AS T2 ON T1.country_id  =  T2.country_id GROUP BY T2.country_id HAVING count(*)  >=  3' metadata={'_id': '66cf12c13c2173e47d7af347', 'Question': 'What are the countries that contain 3 or more cities?'}
page_content='SELECT T1.task_details ,  T1.task_id ,  T2.project_id FROM Tasks AS T1 JOIN Projects AS T2 ON T1.project_id  =  T2.project_id WHERE T2.project_details  =  'omnis' UNION SELECT T1.task_details ,  T1.task_id ,  T2.project_id FROM Tasks AS T1 JOIN Projects AS T2 ON T1.project_id  =  T2.project_id JOIN Project_outcomes AS T3 ON T2.project_id  =  T3.project_id GROUP BY T2.project_id HAVING count(*)  >  2' metadata={'_id': '66cf12c13c2173e47d7af8bc', 'Question': "What are the task details, task id and project id for the projects which are detailed as 'omnis' or  have more than 2 outcomes?"}
Retrieved Documents:
page_content='SELECT Customer_Name FROM Clients EXCEPT SELECT T2.Customer_Name FROM Bookings AS T1 JOIN Clients AS T2 ON T1.Customer_ID  =  T2.Client_ID' metadata={'_id': '66cf12c13c2173e47d7afbf4', 'Question': 'Show the names of all the clients with no booking.'}
page_content='SELECT Customer_Name FROM Clients EXCEPT SELECT T2.Customer_Name FROM Bookings AS T1 JOIN Clients AS T2 ON T1.Customer_ID  =  T2.Client_ID' metadata={'_id': '66cf12c13c2173e47d7afbf5', 'Question': 'What are the names of the clients who do not have any booking?'}
page_content='SELECT T1.City_Town FROM Addresses AS T1 JOIN Customers AS T2 ON T1.Address_ID  =  T2.Address_ID EXCEPT SELECT T1.City_Town FROM Addresses AS T1 JOIN Performers AS T2 ON T1.Address_ID  =  T2.Address_ID' metadata={'_id': '66cf12c13c2173e47d7afbee', 'Question': 'Show all cities where at least one customer lives in but no performer lives in.'}
page_content='SELECT T1.City_Town FROM Addresses AS T1 JOIN Customers AS T2 ON T1.Address_ID  =  T2.Address_ID EXCEPT SELECT T1.City_Town FROM Addresses AS T1 JOIN Performers AS T2 ON T1.Address_ID  =  T2.Address_ID' metadata={'_id': '66cf12c13c2173e47d7afbef', 'Question': 'Which cities have at least one customer but no performer?'}
Retrieved Documents:
page_content='SELECT count(*) FROM airport WHERE id NOT IN ( SELECT airport_id FROM flight WHERE pilot  =  'Thompson' );' metadata={'_id': '66cf12c13c2173e47d7b00b2', 'Question': "How many airports haven't the pilot 'Thompson' driven an aircraft?"}
page_content='SELECT name FROM airports WHERE city  =  'Goroka'' metadata={'_id': '66cf12c13c2173e47d7b025b', 'Question': 'Find the name of the airport in the city of Goroka.'}
page_content='SELECT name FROM airports WHERE city  =  'Goroka'' metadata={'_id': '66cf12c13c2173e47d7b025c', 'Question': 'What are the names of the airports in the city of Goroka?'}
page_content='SELECT name ,  city ,  country ,  elevation FROM airports WHERE city  =  'New York'' metadata={'_id': '66cf12c13c2173e47d7b025d', 'Question': 'Find the name, city, country, and altitude (or elevation) of the airports in the city of New York.'}
Retrieved Documents:
page_content='SELECT shop_id ,  address FROM shop WHERE score  <  (SELECT avg(score) FROM shop)' metadata={'_id': '66cf12c13c2173e47d7aeae9', 'Question': 'Find the id and address of the shops whose score is below the average score.'}
page_content='SELECT count(*) FROM products WHERE product_price  >  (SELECT avg(product_price) FROM products)' metadata={'_id': '66cf12c13c2173e47d7afde7', 'Question': 'How many products have a price higher than the average?'}
page_content='SELECT DISTINCT Product_Name FROM PRODUCTS WHERE Product_Price  >  (SELECT avg(Product_Price) FROM PRODUCTS)' metadata={'_id': '66cf12c13c2173e47d7afbbc', 'Question': 'Show all the distinct product names with price higher than the average.'}
page_content='SELECT DISTINCT Product_Name FROM PRODUCTS WHERE Product_Price  >  (SELECT avg(Product_Price) FROM PRODUCTS)' metadata={'_id': '66cf12c13c2173e47d7afbbd', 'Question': 'What are the distinct names of the products that cost more than the average?'}
Retrieved Documents:
page_content='SELECT Product_Type_Code FROM Products WHERE Product_Price  >  4500 INTERSECT SELECT Product_Type_Code FROM Products WHERE Product_Price  <  3000' metadata={'_id': '66cf12c13c2173e47d7af9b8', 'Question': 'Show the product type codes that have both products with price higher than 4500 and products with price lower than 3000.'}
page_content='SELECT district_name FROM district WHERE city_area  >  10 OR City_Population  >  100000' metadata={'_id': '66cf12c13c2173e47d7afaf2', 'Question': 'Find the name all districts with city area greater than 10 or population larger than 100000'}
page_content='SELECT district_name FROM district WHERE city_area  >  10 OR City_Population  >  100000' metadata={'_id': '66cf12c13c2173e47d7afaf3', 'Question': 'What are the names of all districts with a city area greater than 10 or have more than 100000 people living there?'}
page_content='SELECT LOCATION FROM shop WHERE Open_Year  >  2012 INTERSECT SELECT LOCATION FROM shop WHERE Open_Year  <  2008' metadata={'_id': '66cf12c13c2173e47d7afba4', 'Question': 'Show the locations shared by shops with open year later than 2012 and shops with open year before 2008.'}
Retrieved Documents:
page_content='SELECT document_name FROM documents WHERE document_name LIKE "%CV%"' metadata={'_id': '66cf12c13c2173e47d7af979', 'Question': 'List all the document names which contains "CV".'}
page_content='SELECT document_name FROM documents WHERE document_name LIKE "%CV%"' metadata={'_id': '66cf12c13c2173e47d7af97a', 'Question': 'What are the names of documents that contain the substring "CV"?'}
page_content='SELECT document_type_code FROM Document_Types WHERE document_description LIKE 'Initial%'' metadata={'_id': '66cf12c13c2173e47d7af8d4', 'Question': "Which document type is described with the prefix 'Initial'?"}
page_content='SELECT document_type_code FROM Document_Types WHERE document_description LIKE 'Initial%'' metadata={'_id': '66cf12c13c2173e47d7af8d5', 'Question': "What is the type of the document whose description starts with the word 'Initial'?"}
Retrieved Documents:
page_content='SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches)' metadata={'_id': '66cf12c13c2173e47d7aed68', 'Question': "Find the name of instructors who didn't teach any courses?"}
page_content='SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches)' metadata={'_id': '66cf12c13c2173e47d7aed69', 'Question': "What are the names of instructors who didn't teach?"}
page_content='SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches WHERE semester  =  'Spring')' metadata={'_id': '66cf12c13c2173e47d7aed6c', 'Question': "Find the names of instructors who didn't each any courses in any Spring semester."}
page_content='SELECT name FROM instructor WHERE id NOT IN (SELECT id FROM teaches WHERE semester  =  'Spring')' metadata={'_id': '66cf12c13c2173e47d7aed6d', 'Question': "What are the names of instructors who didn't teach courses in the Spring?"}
Retrieved Documents:
page_content='SELECT name FROM instructor WHERE salary  >  (SELECT min(salary) FROM instructor WHERE dept_name  =  'Biology')' metadata={'_id': '66cf12c13c2173e47d7aed98', 'Question': 'Find names of instructors with salary greater than that of some (at least one) instructor in the Biology department.'}
page_content='SELECT name FROM instructor WHERE salary  >  (SELECT min(salary) FROM instructor WHERE dept_name  =  'Biology')' metadata={'_id': '66cf12c13c2173e47d7aed99', 'Question': 'What are the names of instructors who earn more than at least one instructor from the Biology department?'}
page_content='SELECT Name FROM WINE WHERE YEAR  <  (SELECT min(YEAR) FROM WINE WHERE Winery  =  "Brander")' metadata={'_id': '66cf12c13c2173e47d7b017f', 'Question': 'What are the names of wines whose production year are before the year of all wines by Brander winery?'}
page_content='SELECT Name FROM WINE WHERE YEAR  <  (SELECT min(YEAR) FROM WINE WHERE Winery  =  "Brander")' metadata={'_id': '66cf12c13c2173e47d7b0180', 'Question': 'What are the names of wines produced before any wine from the Brander winery?'}
Retrieved Documents:
page_content='SELECT t1.name FROM checkin AS t2 JOIN business AS t1 ON t2.business_id  =  t1.business_id GROUP BY t1.name ORDER BY SUM ( t2.count ) DESC LIMIT 1;' metadata={'_id': '66cf12c13c2173e47d7b07f1', 'Question': 'which business has the most number of checkins'}
page_content='SELECT T1.member_name FROM member AS T1 JOIN party_events AS T2 ON T1.member_id  =  T2.member_in_charge_id GROUP BY T2.member_in_charge_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7aefe5', 'Question': 'What is the name of member in charge of greatest number of events?'}
page_content='SELECT T1.member_name FROM member AS T1 JOIN party_events AS T2 ON T1.member_id  =  T2.member_in_charge_id GROUP BY T2.member_in_charge_id ORDER BY count(*) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7aefe6', 'Question': 'Return the name of the member who is in charge of the most events.'}
page_content='SELECT T2.Shop_Name FROM stock AS T1 JOIN shop AS T2 ON T1.Shop_ID  =  T2.Shop_ID GROUP BY T1.Shop_ID ORDER BY SUM(T1.quantity) DESC LIMIT 1' metadata={'_id': '66cf12c13c2173e47d7afb9a', 'Question': 'Show the name of the shop that have the largest quantity of devices in stock.'}
Retrieved Documents:
page_content='SELECT avg(T2.Points) FROM club AS T1 JOIN player AS T2 ON T1.Club_ID  =  T2.Club_ID WHERE T1.name  =  "AIB"' metadata={'_id': '66cf12c13c2173e47d7af4e7', 'Question': 'What is the average points of players from club with name "AIB".'}

**Testing App 3b**

In [9]:
%run ../../A_Apps/3b_Openai.ipynb

In [10]:
# Upload the dataset and transform to dataframe
# Define the dataset path
dataset_path = "../8_Testing_Input_and_Output/Spider_Testing_Selection.csv"
print("Dataset Path:", dataset_path)

# Check if the file exists at the specified path
if not os.path.isfile(dataset_path):
    raise FileNotFoundError(f"Unable to find the file at {dataset_path}")

# Load the dataset
testing_3b = load_dataset('csv', data_files=dataset_path)

# Convert the dataset to a pandas dataframe
df_3b_testing = testing_3b["train"].to_pandas()

# Print a few rows to verify
print(df_3b_testing.head())

Dataset Path: ../8_Testing_Input_and_Output/Spider_Testing_Selection.csv
            DB_ID                                              Query  \
0  concert_singer  SELECT T2.name ,  T2.capacity FROM concert AS ...
1          pets_1  SELECT T1.fname ,  T1.age FROM student AS T1 J...
2           car_1  SELECT T1.CountryName FROM COUNTRIES AS T1 JOI...
3           car_1  SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS ...
4           car_1  select t1.id ,  t1.maker from car_makers as t1...

                                            Question
0  Show the stadium name and capacity with most n...
1  Find the first name and age of students who ha...
2  Which countries in europe have at least 3 car ...
3  Among the cars with more than lowest horsepowe...
4  Which are the car makers which produce at leas...

In [11]:
# Function to run the chain for each query
def process_queries(df_3b_testing):
    # Create an empty list to store the results
    output = []

    for i, row in df_3b_testing.iterrows():
        # Get the query from the dataframe
        query = row["Query"]

        # Execute the chain with the current query
        try:
            result = chain_3b.invoke(query)
        except Exception as e:
            result = f"Error processing query {i}: {str(e)}"
        
        # Append the result to the list
        output.append(result)

    # Add the results to a new column in the dataframe
    df_3b_testing["Output"] = output
    
# Check and split the Output column into two: Translation and Explanation
    def split_output(text):
        if 'Explanation' in text:
            parts = text.split('Explanation', 1)
            return parts[0].strip(), parts[1].strip()
        else:
            return text, None  # If no "Explanation:", return the text as translation, and None for explanation

    # Apply the splitting function to the Output column
    df_3b_testing[['Translation', 'Explanation']] = df_3b_testing["Output"].apply(lambda x: pd.Series(split_output(x)))
    
    return df_3b_testing

# Call the function and process the dataframe
df_3b_testing_output = process_queries(df_3b_testing)

# Now 'df_with_results' contains the original queries and their corresponding results
print(df_3b_testing_output)
df_3b_testing_output.to_csv("../8_Testing_Input_and_Output/App_Output_3b.csv", index=False)

                           DB_ID  \
0                 concert_singer
1                         pets_1
2                          car_1
3                          car_1
4                          car_1
5                          car_1
6                          car_1
7                       flight_2
8                       flight_2
9       employee_hire_evaluation
10      employee_hire_evaluation
11          cre_Doc_Template_Mgt
12                  course_teach
13                  museum_visit
14                  museum_visit
15                         wta_1
16  student_transcripts_tracking
17  student_transcripts_tracking
18                       voter_1
19                       world_1
20                       world_1
21                       world_1
22                       world_1
23                       world_1
24                       world_1
25                     orchestra
26                   dog_kennels
27                   dog_kennels
28                   dog_kennels
29                   dog_kennels
30                        singer
31        real_estate_properties

                                                Query  \
0   SELECT T2.name ,  T2.capacity FROM concert AS ...
1   SELECT T1.fname ,  T1.age FROM student AS T1 J...
2   SELECT T1.CountryName FROM COUNTRIES AS T1 JOI...
3   SELECT T2.MakeId ,  T2.Make FROM CARS_DATA AS ...
4   select t1.id ,  t1.maker from car_makers as t1...
5   SELECT T1.Id ,  T1.Maker FROM CAR_MAKERS AS T1...
6   SELECT T1.countryId ,  T1.CountryName FROM Cou...
7   SELECT T1.Airline FROM AIRLINES AS T1 JOIN FLI...
8   SELECT AirportName FROM Airports WHERE Airport...
9   SELECT name FROM shop WHERE number_products  >...
10  SELECT district FROM shop WHERE Number_product...
11  SELECT document_name ,  template_id FROM Docum...
12  SELECT Name FROM teacher WHERE Teacher_id NOT ...
13  SELECT name FROM museum WHERE num_of_staff  > ...
14  SELECT t2.visitor_id ,  t1.name ,  t1.Level_of...
15  SELECT sum(ranking_points) ,  T1.first_name FR...
16  SELECT T1.degree_program_id ,  T1.degree_summa...
17  SELECT DISTINCT T2.semester_id FROM Degree_Pro...
18  SELECT T3.area_code FROM contestants AS T1 JOI...
19  SELECT * FROM country AS T1 JOIN countrylangua...
20  SELECT avg(LifeExpectancy) FROM country WHERE ...
21  SELECT Name FROM country WHERE SurfaceArea  > ...
22  SELECT CountryCode FROM countrylanguage EXCEPT...
23  SELECT DISTINCT T2.Name FROM country AS T1 JOI...
24  SELECT COUNT(T2.Language) ,  T1.Name FROM coun...
25  SELECT T1.Name FROM conductor AS T1 JOIN orche...
26  SELECT professional_id ,  last_name ,  cell_nu...
27  SELECT T1.treatment_type_description FROM Trea...
28  SELECT T1.owner_id ,  T1.zip_code FROM Owners ...
29  SELECT T1.name ,  T2.date_of_treatment FROM Do...
30  SELECT T1.Name ,  sum(T2.Sales) FROM singer AS...
31  SELECT property_name FROM Properties WHERE pro...

                                             Question  \
0   Show the stadium name and capacity with most n...
1   Find the first name and age of students who ha...
2   Which countries in europe have at least 3 car ...
3   Among the cars with more than lowest horsepowe...
4   Which are the car makers which produce at leas...
5   What are the ids and makers of all car makers ...
6   What are the id and names of the countries whi...
7   Find all airlines that have flights from airpo...
8   Find the name of airports which do not have an...
9   Find the names of stores whose number products...
10  Which district has both stores with less than ...
11  What is the document name and template id for ...
12  List the names of teachers who have not been a...
13  find the names of museums which have more staf...
14  What are the id, name and membership level of ...
15  Find the total ranking points for each player ...
16  Find the program which most number of students...
17  Find the semester when both Master students an...
18  List the area codes in which voters voted both...
19  Which countries have either English or Dutch a...
20  What is average life expectancy in the countri...
21  What are the countries that have greater surfa...
22  What are the country codes for countries that ...
23  Which cities are in European countries where E...
24  Return the country name and the numbers of lan...
25  Show the name of the conductor that has conduc...
26  Which professionals live in the state of India...
27  What is the description of the treatment type ...
28  Which owner has paid the largest amount of mon...
29  List the names of the dogs of the rarest breed...
30  Show the names of singers and the total sales ...
31  What are the names of properties that are eith...

                                               Output  \
0   **Translation:**  \nSelect the name and capaci...
1   **Translation:**\nRetrieve the first name and ...
2   **Translation:**  \nSelect the names of countr...
3   **Translation:**  \nSelect the MakeId and Make...
4   **Translation:**\nSelect the IDs and makers of...
5   **Translation:**\nSelect the IDs and names of ...
6   **Translation:**\nSelect the country ID and co...
7   **Translation:**  \nRetrieve the names of airl...
8   **Translation:**  \nRetrieve the names of airp...
9   **Translation:**  \nSelect the names of shops ...
10  **Translation:**  \nFind the districts where t...
11  **Translation:**  \nSelect the names and templ...
12  **Translation:**  \nSelect the names of teache...
13  **Translation:**  \nSelect the names of museum...
14  **Translation:**  \nSelect the visitor's ID, t...
15  **Translation:** This SQL query retrieves the ...
16  **Translation:**  \nSelect the ID and summary ...
17  **Translation:**  \nRetrieve the unique semest...
18  **Translation:**  \nRetrieve the area codes as...
19  **Translation:**  \nSelect all countries that ...
20  **Translation:** Calculate the average life ex...
21  **Translation:**  \nSelect the names of countr...
22  **Translation:**  \nRetrieve the list of count...
23  **Translation:**  \nSelect the unique names of...
24  **Translation:**  \nCount the number of langua...
25  **Translation:**  \nSelect the name of the con...
26  **Translation:**  \nSelect the professional ID...
27  **Translation:**  \nRetrieve the description o...
28  **Translation:**  \nSelect the owner ID and zi...
29  **Translation:**  \nSelect the names of dogs a...
30  **Translation:**  \nSelect the names of singer...
31  **Translation:**  \nRetrieve the names of prop...

                                          Translation  \
0   **Translation:**  \nSelect the name and capaci...
1   **Translation:**\nRetrieve the first name and ...
2   **Translation:**  \nSelect the names of countr...
3   **Translation:**  \nSelect the MakeId and Make...
4   **Translation:**\nSelect the IDs and makers of...
5   **Translation:**\nSelect the IDs and names of ...
6   **Translation:**\nSelect the country ID and co...
7   **Translation:**  \nRetrieve the names of airl...
8   **Translation:**  \nRetrieve the names of airp...
9   **Translation:**  \nSelect the names of shops ...
10  **Translation:**  \nFind the districts where t...
11  **Translation:**  \nSelect the names and templ...
12  **Translation:**  \nSelect the names of teache...
13  **Translation:**  \nSelect the names of museum...
14  **Translation:**  \nSelect the visitor's ID, t...
15  **Translation:** This SQL query retrieves the ...
16  **Translation:**  \nSelect the ID and summary ...
17  **Translation:**  \nRetrieve the unique semest...
18  **Translation:**  \nRetrieve the area codes as...
19  **Translation:**  \nSelect all countries that ...
20  **Translation:** Calculate the average life ex...
21  **Translation:**  \nSelect the names of countr...
22  **Translation:**  \nRetrieve the list of count...
23  **Translation:**  \nSelect the unique names of...
24  **Translation:**  \nCount the number of langua...
25  **Translation:**  \nSelect the name of the con...
26  **Translation:**  \nSelect the professional ID...
27  **Translation:**  \nRetrieve the description o...
28  **Translation:**  \nSelect the owner ID and zi...
29  **Translation:**  \nSelect the names of dogs a...
30  **Translation:**  \nSelect the names of singer...
31  **Translation:**  \nRetrieve the names of prop...

                                          Explanation
0   :**  \n1. **SELECT T2.name, T2.capacity**: Thi...
1   :**\n1. **SELECT T1.fname, T1.age**: This part...
2   :**  \n1. **SELECT T1.CountryName**: This part...
3   :**  \n1. **SELECT T2.MakeId, T2.Make**: This ...
4   :**\n1. **First Part of the Query:**\n   - `se...
5   :**\n1. **First Part of the Query:**\n   - `SE...
6   :**\n1. **First Part of the Query:**\n   - `SE...
7   :**  \n1. **SELECT T1.Airline**: This part of ...
8   :**  \n1. **SELECT AirportName FROM Airports:*...
9   :**  \n1. **SELECT name FROM shop**: This part...
10  :**  \n1. **SELECT district FROM shop WHERE Nu...
11  :**  \n1. **SELECT document_name, template_id*...
12  :**  \n1. **SELECT Name:** This part of the qu...
13  :**  \n1. **Outer Query:** `SELECT name FROM m...
14  :**  \n1. **SELECT t2.visitor_id, t1.name, t1....
15  :**\n1. **SELECT sum(ranking_points), T1.first...
16  :**  \n1. **SELECT T1.degree_program_id, T1.de...
17  of the SQL Query:**\n\n1. **SELECT DISTINCT T2...
18  of the SQL Query:**\n\n1. **SELECT T3.area_cod...
19  of the SQL Query:**\n\n1. **SELECT * FROM coun...
20  :**\n1. **SELECT avg(LifeExpectancy)**: This p...
21  :**  \n1. **SELECT Name FROM country**: This p...
22  :**  \n1. **SELECT CountryCode FROM countrylan...
23  of the SQL Query:**\n\n1. **SELECT DISTINCT T2...
24  :**  \n1. **SELECT COUNT(T2.Language), T1.Name...
25  :**  \n1. **SELECT T1.Name**: This part specif...
26  :**  \n1. **SELECT professional_id, last_name,...
27  :**  \n1. **SELECT T1.treatment_type_descripti...
28  of the SQL Query:**\n\n1. **SELECT T1.owner_id...
29  of the SQL Query:**\n\n1. **SELECT T1.name, T2...
30  :**  \n1. **SELECT T1.Name, sum(T2.Sales):** T...
31  :**  \n1. **SELECT property_name FROM Properti...